<% order_code, error, world_pay_url, preferred_method = payment_method.hpp_payment_url(current_order.id)%>
<% if world_pay_url.present?%>
  <div id="custom-html-<%= payment_method.id%>" height="100%" width="100%" class='worldpay-payment'></div>
  <script type='text/javascript'>
    //your iframe options including the redirect URL
    if(customOptions == null){
      var customOptions = {};
    }
    customOptions['<%= payment_method.id%>'] = {
          type: 'iframe',
          iframeIntegrationId: 'libraryObject',
          iframeHelperURL: "<%=request.base_url%>/helper.html",
          iframeBaseURL: "<%=request.base_url%>",
          url: "<%=world_pay_url%>".replace('&amp;amp;', '&'),
          target: "custom-html-<%= payment_method.id%>",
          trigger: "custom-trigger-<%= payment_method.id%>",
          lightboxMaskOpacity: 50,
          lightboxMaskColor: '#000000',
          debug: false,
          language: "<%= session[:locale]||'en'%>",
          country: '<%= current_order.billing_address.country.iso%>',
          inject: 'immediate',
          preferredPaymentMethod: '<%=preferred_method%>',
          successURL: "<%= redirect_url('success' ,order_code, payment_method.id)%>",
          cancelURL: "<%= redirect_url('cancel' ,order_code, payment_method.id)%>",
          failureURL: "<%= redirect_url('failure' ,order_code, payment_method.id)%>",
          pendingURL: "<%= redirect_url('pending' ,order_code, payment_method.id)%>",
          errorURL: "<%= redirect_url('error' ,order_code, payment_method.id)%>",
          entityaddress: "<%= payment_method.preferences[:merchant_address].sub('Your purchase will be made with', Spree.t(:worldpay_address_label, default: 'Your purchase will be made with'))%>"

    };
  </script>
<% else %>
  <%= error%>
<% end %>